<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<title>Customer List</title>
</head>
<body>
	<div layout:fragment="content">

		<div
			class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<div>
				<h3 class="display-4">
					<small th:text="${customer.lastName}"></small>, <small
						th:text="${customer.firstName}"></small>
				</h3>
				<h2 class="lead">
					PPPOE Account: <span th:text="${customer.pppoeAccount}"></span>
				</h2>
			</div>


		</div>
		<div class="row">
			<div class="col-md-12 mb-3">
				<label for="notpaid"> <input type="radio" name="p"
					id="notpaid" value="false"
					th:onclick="'window.location.href=\'/billingsummaries/'+${customer.id}+'/list?p=false\''"
					/> Current Billing
				</label>
				<label for="paid"> <input type="radio" name="p" id="paid"
					value="true"
					th:onclick="'window.location.href=\'/billingsummaries/'+${customer.id}+'/list?p=true\''"
					/> List of Settled Billings
				</label>
				<label for="receipt"> <input type="radio" name="receipt" id="receipt"
					th:checked=true
					th:onclick="'window.location.href=\'/receipts/'+${customer.id}+'/list\''"
					/> List of Receipts
				</label>
			</div>
		</div>
		
			<div class="table-responsive">
				<table class="table table-sm">
					<thead>
						<tr>
							<th>Receipt ID</th>
							<th>Date Paid</th>
							<th>Billing</th>
							 <th>Total Amount</th> 
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="temp : ${receipts} ">
							<td><i>Receipt No. <span th:text="${temp.id}"></span></i></td>
							<td><i><span th:text="${temp.datePaidStr}"></span></i></td>
							<td>
							

								<table class="table table-sm">
									<thead>
										<tr>
											<th>Billing ID</th>
											<th>Date</th>
											 <th>Details</th> 
										</tr>
									</thead>
									<tbody>
										<tr th:each="temp2 : ${temp.billingSummaries} ">
											<td><i>Billing no. <span th:text="${temp2.id}"></span></i></td>
											<td><i><span th:text="${temp2.dateStr}"></span></i></td>
											<td>
												<table class="table table-sm">
													<tbody>
														<tr>
															<td>Description</td>
															<td>Remarks</td>
															<td>Amount</td>
														</tr>
				 										<tr th:each="billingDetail : ${temp2.billingDetails}">
															<td><i><span th:text="${billingDetail.paymentDescription}"></span></i></td>
															<td><i><span th:text="${billingDetail.remarks}"></span></i></td>
															<td><i><span th:text="${billingDetail.amount}"></span></i></td>
														</tr> 
														<tr>
															<th colspan="2"></th>
															<th>
																<input type="number" class="total-amount form-control form-control-sm" th:value="${temp2.totalAmount}" readonly/>
															</th>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>



							
							</td>
							<td><i><span th:text="${temp.totalAmount}"></span></i></td>
							<td>
						
						<a class="btn btn-sm btn-outline-success " 
						th:href="@{/receipts/{customerId}/receipt/{receiptId}/pdf(customerId=${customer.id},receiptId=${temp.id})}"
						 role="button">Generate Receipt PDF</a>
					</td>

						
							

						</tr>
					</tbody>
				</table>
				<!-- customers pagination -->
				<nav aria-label="Pagination"
					th:if="${receipts.totalPages gt 0}">
					<ul class="pagination justify-content-center font-weight-medium">
						<li class="page-item"
							th:classappend="${receipts.number eq 0} ? 'disabled'">
							<a class="page-link svg-icon"
							th:href="@{/receipts/{customerId}/list?page={id}(id=${receipts.number lt 2 ? 1 : receipts.number},p=${p},customerId=${customer.id})}"
							aria-label="Previous" title="Previous Page" rel="tooltip"> <span
								aria-hidden="true" data-feather="chevrons-left" width="20"
								height="20"></span>
						</a>
						</li>
						<li class="page-item"
							th:classappend="${i eq receipts.number + 1} ? 'active'"
							th:each="i : ${#numbers.sequence( receipts.number + 1, receipts.totalPages > 10 + receipts.number ? receipts.number + 10 : receipts.totalPages, 1)}">
							<a class="page-link"
							th:href="@{/receipts/{customerId}/list?page={id}(id=${i},p=${p},customerId=${customer.id})}"
							th:text="${i}" th:title="${'Page '+ i}" rel="tooltip"></a>
						</li>
						<li class="page-item disabled"
							th:if="${receipts.number + 10 < receipts.totalPages}">
							<a class="page-link svg-icon" href="#"> <span
								data-feather="more-horizontal" width="20" height="20"></span>
						</a>
						</li>
						<li class="page-item"
							th:classappend="${receipts.number + 1 eq receipts.totalPages} ? 'disabled'">
							<a class="page-link svg-icon"
							th:href="@{/receipts/{customerId}/list?page={id}(id=${receipts.number + 2},p=${p},customerId=${customer.id})}"
							aria-label="Next" title="Next Page" rel="tooltip"> <span
								aria-hidden="true" data-feather="chevrons-right" width="20"
								height="20"></span>
						</a>
						</li>
					</ul>
				</nav>
			</div>
		

	</div>
</body>

</html>