<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<title>User Form</title>
</head>
<body>
	<div layout:fragment="content">

	 <h1 class="h2 pt-3 mb-3 pb-2 border-bottom">User Account</h1>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
            <div class="col">
              <form action="#" th:action="@{/users/save}" th:object="${user}"  method="POST" class="needs-validation" autocomplete="off">
               	<input type="hidden" th:field="*{id}" />
                
                 <div class="row">
                   <div class="col-md-4 mb-3">
                    <label for="username">Username</label>
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      th:field="*{username}"
                   	 value=""
                    />
					<p style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                  </div>
   
                     <div class="col-md-4 mb-3">
                    <label for="password">Password (Required to re-enter)</label>
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      th:field="*{password}"
                      placeholder=""
                      value=""
                      required                 
                    />
                    <p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                  </div>
                  </div>
                  <div class="row">
                  
                  <div class="col-md-4 mb-3">
                    <label for="name">Full name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      th:field="*{name}"
                      placeholder=""
                      value=""
                      required
                    />
					<p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                  </div>
                 <div class="col-md-4 mb-3">
                    <label for="email">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      th:field="*{email}"
                   	 value=""
                    />
					<p style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                  </div>
                  
                 </div> 
                     <div class="col-md-4 mb-3">
                    <label for="title">Role</label>
					<select class="form-control text-primary" th:field="*{roles}" size="5" multiple="multiple">
					    <option th:each="role : ${roles}"
					            th:value="${{role}}"
					            th:text="${role}">Role</option>
					</select>
					<p style="color:red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></p>
                  </div>             
                  

                <hr class="mb-4" />
                <button class="btn btn-primary btn-lg btn-block" type="submit">
                  Save
                </button>
               
				</form>
				<br>
				 <a th:href="@{/users/list}" >Back to User List</a>
			</div>
	</div>
	</div>
</body>

</html>